@font-face{
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf");
}
@font-face{
    font-family: "FiraSans";
    src: url("FiraSans-Regular.ttf");
}
body{
    background: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
}
p{
    font-size: 18px;
    font-family: "Poppins";
    font-style: normal;
    color: #0b423e;
    font-weight: 500;
}
.header_section{
    background-color: #f5f5f5;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
.logo{
    margin-left: 13%;
}
.logo img{
    height: 20px;
    width: 35px;
}
.navbar{
    margin-right: 12%;
}
.navbar .logo{
    display: none;
}
.navbar_buttons p{
    margin: 0 10px;
    display: inline;
    font-size: 24px;
    color: #095953;
    font-family: "FiraSans";
    font-weight: 400;
    letter-spacing: 0.5px;
}
.navbar_buttons p a{
    text-decoration: none;
    color: #095953;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}
.nav_link_buttons:hover{
    transition: 0.6s ease-in-out;
    background-color: #0b423e;
    color: white;
    border-radius: 6px;
    padding: 5px;
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    margin-right: 5%;
}
.hamburger:hover{
    background-color: #ececec;
}
.hamburger div{
    width: 30px;
    height: 2px;
    background-color: #095953;
    margin: 6px 0;
}
.designing_for_zillion_people{
    text-align: center;
    width: 90%;
    padding: 0 5%;
    margin-bottom: 50px;
}
.designing_for_zillion_people h1{
    font-size: 64px;
    margin-bottom: 0;
    color: #0b423e;   
    font-family: "FiraSans";
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
}
.buttons a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px; 
    background-color: #095953; 
    font-family: "FiraSans";
    font-size: 24px; 
    color: white;
    width: 300px;
    height: 77px;
    margin: 0 auto;
    transition: 0.3s ease-in;
}
.buttons a:hover{
    height: 70px;
    width: 280px;
    cursor: pointer;
}
#get_a_quote_image{
    margin-top: -20px;
    width: 100%;
    text-align: center;
}
#get_a_quote_image img{
    width: 850px;
    height: 550px;
}
#e{
    margin-top: 100px;
    text-align: center;
}
#ee{
    font-weight: 700;
    font-size: 32px;
    color: #095953;
    font-family: "FiraSans";
    font-style: normal;
}
#eee{
    margin-top: 94px;
    font-size: 18px;
    color: #547b78;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
}
#container2{
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.impacting_users{
    margin-top: 100px;
    text-align: center;
    line-height: 38px;
}
.impacting_users h2{
    font-family: "FiraSans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #095953;
}
.impacting_users p{
    line-height: 161%;
    color: #547b78;
    font-weight: 500;
}
#ff{
    text-align: center;
}
#fff{
    font-size: 32px;
    color: #095953;
    font-weight: 700;
    font-family: "FiraSans";
    font-style: normal;
}
#ffff{
    font-size: 18px;
    color: #547b78;
    font-weight: 500;
    font-family: "Poppins";
    font-style: normal;
}
#gg{
    text-align: center;
}
#ggg{
    font-size: 32px;
    color: #095953;
    font-weight: 700;
    font-family: "FiraSans";
    font-style: normal;
}
#gggg{
    font-size: 18px;
    color: #547b78;
    font-weight: 500;
    font-family: "Poppins";
    font-style: normal;
}
#hh{
    text-align: center;
}
#hhh{
    font-size: 32px;
    color: #095953;
    font-weight: 700;
    font-family: "FiraSans";
    font-style: normal;
}
#hhhh{
    font-size: 18px;
    color: #547b78;
    font-weight: 500;
    font-family: "Poppins";
    font-style: normal;
}
#i{
    text-align: center;
    margin-top: 100px;
    position: absolute;
    width: 100%;
}
#ii{
    font-size: 32px;
    font-weight: 700;
    font-family: "FiraSans";
    font-style: normal;
    color: #095953;
}
#jj{
    height: 420px;
    width: 540px;
    border-radius: 25px;
}
#kk{
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #095953;
}
#kkk{
    color: #004ced;
}
#kkkk{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #547b78;
}
#kkkkk{
    font-size: 24px;
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.025em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    background: #095953;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#container3{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 16%;
    margin-left: 13%;
}
#ll{
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #095953;
}
#lll{
    color: #c75a1d;
}
#llll{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #547b78;
}
#lllll{
    font-size: 24px;
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.025em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    background: #095953;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#mm{
    height: 420px;
    width: 540px;
    border-radius: 25px;
}
#container4{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 13%;
    margin-left: 20%;
}
#nn{
    height: 420px;
    width: 540px;
    border-radius: 25px;
}
#oo{
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #095953;
}
#ooo{
    color: #0db1a5;
}
#oooo{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #547b78;
}
#ooooo{
    font-size: 24px;
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.025em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    background: #095953;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#container5{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 22%;
    margin-left: 12%;
}
#p{
    margin-top: 100px;
    background: #f5f5f5;
    width: 100%;
    height: 350px;
}
#pp{
    text-align: center;
    padding-top: 100px;
    font-family: "FiraSans";
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    color: #095953;
}
#ppp{
    color: white;
    background: #095953;
    font-family: "FiraSans";
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
#footer{
    background: #3b5249;
    height: 400px;
}
#container_Footer{
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#f1{
    margin-top: 30px;
}
#ff1{
    height: 40px;
    width: 80px;
}
#f2{
    font-family: "FiraSans";
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}
#f3{
    font-family: "FiraSans";
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}#f4{
    font-family: "FiraSans";
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}
#f5{
    margin: 0 auto;
    font-family: "FiraSans";
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
#ff5{
    color:  #f51b1b;
    font-size: 24px;
}

@media only screen and (max-width: 599px) {     /*Small devices e.g iphone*/
    p{
        font-size: 12px;
    }
    .header{
        height: 40px;
    }
    .header > .logo{
        margin-left: 10%;
    }
    .logo img{
        height: 15px;
        width: 28px;
    }
    .navbar{
        position: absolute;
        left: -100%;
        top: 0;
        z-index: 999;
        width: 50vw;
        height: 100vh;
        background-color: #fefefe; 
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    .hamburger{
        display: block;
    }
    #nav_check:checked ~ .navbar{
        left: 0;
    }
    .navbar .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    .navbar_buttons p{
        display: block;
        margin: 20px 30px;
    }
    .navbar_buttons p a{
        font-size: 18px;
    } 
    .designing_for_zillion_people{
        margin-bottom: 10px;
    }     
    .designing_for_zillion_people p{
        font-size: 12px;

    } 
    .designing_for_zillion_people h1{
        font-size: 20px;
        padding: 0;
        letter-spacing: 0px;
    }
    .buttons a{
        font-size: 12px;
        width: 140px;
        height: 40px;
    }
    .buttons a:hover{
        height: 30px;
        width: 130px;
    }
    #get_a_quote_image img{
        width: 350px;
        height: 230px;
    }
    .impacting_users{
        margin-top: 50px;
        line-height: 32px;
    }
    .impacting_users h2{
        font-size: 18px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1023px) {  /*Medium screen e.g Tablet*/
    p{
        font-size: 14px;
    }
    .header{
        height: 50px;
    }
    .logo{
        margin-left: 10%;
    }
    .navbar_buttons p a{
        font-size: 18px;
    } 
    .designing_for_zillion_people{
        margin-bottom: 10px;
    }
    .designing_for_zillion_people h1{
        font-size: 28px;
        letter-spacing: 0px;
    }
    .buttons a{
        font-size: 14px;
        width: 150px;
        height: 50px;
    }
    .buttons a:hover{
        height: 40px;
        width: 140px;
    }
    #get_a_quote_image img{
        width: 400px;
        height: 280px;
    }
    .impacting_users{
        margin-top: 50px;
        line-height: 32px;
    }
    .impacting_users h2{
        font-size: 24px;
    }
}